:root{
    --accent-color:#2196F3;
    --logo-color:#000;
    --text-color:#212121;
    --added-text:#757575;
    --title-color:#FFF;
    --team-beakground:#F5F4FA;
    --footer-beakground:#2F303A;
    --footer-contacts:rgba(255, 255, 255, 0.60);
    --border-colors: #eee ;
}
/* портфоліо */

.header{
    border-bottom:  1px solid #eee ;
}

.button-btn{
    color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; 
letter-spacing: 0.48px;
border-radius: 4px;
background: var(--team-beakground);
font-style: normal; 
border: none;
width: 125px;
padding: 6px 22px;
}

.button-btn:hover{
    color: var(--title-color);
    background-color: var(--accent-color);
}
.button-list{
   
    display: flex;
    gap: 8px;
    justify-content: center;

} 
.gallay{
    padding-top: 94px;
    padding-bottom: 94px;
    /* border-top: 1px solid red; */
}

.gallay-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}
.gallay-item{
    outline: 1px solid var(--border-colors);
    background: var(--title-color);
flex-basis: calc((100% - 60px) / 3);

}
.gallay-title{
    color: var(--text-color);
font-size: 18px;
font-family: Roboto;
font-weight: 700;
line-height: 2; /* 200% */
letter-spacing: 1.08px;
margin-bottom: 4px;


}
.gallay-text{
    color: var(--added-text);
font-size: 16px;
font-weight: 400;
line-height: 30px; /* 187.5% */
letter-spacing: 0.48px;
}

.gallery-imgtext{
    padding: 20px 24px;
}



