:root {
    --accent-color: #2196F3;
    --logo-color: #000;
    --text-color: #212121;
    --added-text: #757575;
    --title-color: #FFF;
    --team-beakground: #F5F4FA;
    --footer-beakground: #2F303A;
    --footer-contacts: rgba(255, 255, 255, 0.60);
--afro-color: #AFB1B8;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid red; */
}


body {
    font-family: Roboto;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-list {
    display: flex;
    gap: 50px;
    /* margin-right: auto; */
}

.header-items {
    display: flex;
    gap: 50px;
margin-left: 313px;
margin-right: auto;
}

/* секція header */
.header-logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;

}

.header-studio {
    color: var(--logo-color);
}

.header-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-link:hover {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-contact {
    color: var(--added-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-contact:hover {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-icons {
    width: 16px;
    height: 12px;
    fill: #757575;
    /* fill: var(--accent-color); */
}
.header-icons:hover{
fill: #2196F3;
}
.header-nav{
margin: 93px;
}


.header-icon2 {
    width: 10px;
    height: 16px;
    fill: #757575;
}


.header-icon2:hover{
    fill: #2196F3;
}
/* .header-elem:hover {
    fill: var(--accent-color);
} */

/* секція hero */

.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imges/background.png);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

/* .hero{
    background-color: var(--footer-beakground);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
} */

.hero-title {
    color: var(--title-color);
    text-align: center;
    width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero-btn {
    color: var(--title-color);
    background-color: #2196F3;
    position: relative;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    /* 187.5% */
    letter-spacing: 0.96px;
    padding: 10px 32px 10px 32px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: auto;
}

/* advantages */

.advantages {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantages-item::before {
    content: "";
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #f5f4fa67;
    margin-bottom: 30px;
    display: block;
    margin-bottom: 30px;
    background-image: url(../imges/antenna.png);
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-item:nth-child(2)::before {
    background-image: url(../imges/clock.png);
}

.advantages-item:nth-child(3)::before {
    background-image: url(../imges/diagram.png);
}

.advantages-item:nth-child(4)::before {
    background-image: url(../imges/astronaut.png);
}

.advantages-title {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.advantages-desk {
    color: var(--added-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
}

.advantages-list {
    display: flex;
    gap: 30px;
}

/* about */
.about {
    padding-bottom: 94px;
}

.about-title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.about-subtitle{
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
background: rgba(47, 48, 58, 0.80);
width: 100%;
height: 70px;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 0;
}

.about-list{
    display: flex;
    gap: 30px;
}

.about-item{
    position: relative;
}


/* team */
.team {
    background-color: var(--team-beakground);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}


.team-box {
    padding-top: 35px;
    padding-bottom: 30px;
}

.team-box {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.team-name {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
}

.team-desk {
    color: var(--added-text);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;

}

.team-list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.team-img {
    width: 270px;
    height: 260px;
}

.team-item {
    background-color: var(--title-color);
}

.team-icon {
    width: 20px;
    height: 20px;
    fill: var(--afro-color);
}
.team-items{
    gap: 10px; 
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.team-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.team-link:hover{
 background-color: var(--accent-color);   
 .team-icon{
    fill: #FFF;
 }
}

/* clients */
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title{
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.clients-list{
    display: flex;
    justify-content: space-between;
}

.clients-item{
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid var(--afro-color);
}

.clients-item:hover{
    border: 1px solid var(--accent-color);
    .clients-icon{
        width: 106px;
        height: 60px;
        fill: #2196F3;
    }
}

.clients-icon{
    width: 106px;
    height: 60px;
    fill: var(--afro-color);
}
/* footer */
.footer {
    background: var(--footer-beakground);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.footer-adress {
    margin-top: 20px;
}

.footer-color {
    color: var(--title-color);
}

.footer-link {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
    font-style: normal;
}

.footer-list {
    margin-top: 9px;
}

.footer-item:first-child {
    margin-bottom: 9px;
}

.footer-contact {
    color: var(--footer-contacts);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
}

.footer-heading{
    color: var(--title-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-svg{
    width: 20px;
    height: 20px;
    fill: var(--title-color);
}





.footer-linkes{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer-linkes:hover{
    fill: #2196F3;
}



/* модальне вікно */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
width: 528px;
border-radius: 4px;
background: var(--title-color);
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
position: relative;
padding: 40px;
}


.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal-close{
width: 30px;
height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-self: center;
    align-items: center;
}
.modal-close:hover,
.modal-close:focus{
    border: 0px solid transparent;
    outline: 1 px solid rgba(0, 0, 0, 0.10);
    .modal-cross{
        fill: var(--accent-color);
    }
}

.modal-title{
    color: var(--text-color);
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
margin-bottom: 12px;
}
.modal-cross{
    width: 18px;
height: 18px;
}

.modal-label{
    color: var(--added-text);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
position: relative;
}


.modal-input{
    width: 100%;
    height: 48px;
    border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
display: block;
margin-top: 4px;
margin-bottom: 4px;
padding-left: 42px;
}

.modal-input:hover, 
.modal-input:focus{
    border: none;
    outline: 1px solid #188CE8;
}

.modal-coment:hover,
.modal-coment:focus{
    border: 1px solid #188CE8;
    outline: 1 px solid rgba(0, 0, 0, 0.10);
}


.modal-icon{
    width: 20px;
height: 20px;
fill: var(--text-color);
position: absolute;
top: 32px;
left: 12px;
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon{
    fill: #188CE8;
}

.modal-coment{
    width: 100%;
    height: 120px;
    border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
resize: none;
padding: 12px 16px;
color: rgba(117, 117, 117, 0.50);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
margin-bottom: 20px;
margin-top: 4px;
}
.modal-check{
    width: 16px;
height: 15px;
}
.modal-text{
    color: #757575;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
margin-left: 9px;
margin-right: 5px;
}

.modal-link{
    color: #2196F3;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}

.modal-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-btn{
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
padding: 10px 52px;
border-radius: 4px;
background: #188CE8;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border: none;
margin-top: 30px;
}

.modal-box{
    display: flex;
    justify-content: center;
}