:root {
    --accent-color: #2196F3;
    --logo-color: #000;
    --text-color: #212121;
    --added-text: #757575;
    --title-color: #FFF;
    --team-beakground: #F5F4FA;
    --footer-beakground: #2F303A;
    --footer-contacts: rgba(255, 255, 255, 0.60);
    --afro-color: #AFB1B8;
    --advantages-background: #f5f4fa67;
    --footer-linkes: rgba(255, 255, 255, 0.10);

    --gallay-desk: rgba(33, 150, 243, 0.90);
    --backdrp-background:  rgba(0, 0, 0, 0.5);
    --modal-bsh:  rgba(0, 0, 0, 0.12),  rgba(0, 0, 0, 0.14),  rgba(0, 0, 0, 0.20);
--modal-close: rgba(0, 0, 0, 0.10);
--modal-input: rgba(33, 33, 33, 0.20) ;
--modal-focus: #188CE8;
--modal-coment:  rgba(117, 117, 117, 0.50);

--hero-boxshadow: rgba(0, 0, 0, 0.15);
}
