
  $accent-color: #2196f3;
  $logo-color: #000;
  $text-color: #212121;
  $added-text: #757575;
  $title-color: #fff;
  $team-beakground: #f5f4fa;
  $footer-beakground: #2f303a;
  $footer-contacts: rgba(255, 255, 255, 0.6);
  $afro-color: #afb1b8;
  $advantages-background: #f5f4fa67;
  $footer-linkes: rgba(255, 255, 255, 0.1);
  $gallay-desk: rgba(33, 150, 243, 0.9);
  $backdrp-background: rgba(0, 0, 0, 0.5);
  $modal-bsh: rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.2);
  $modal-close: rgba(0, 0, 0, 0.1);
  $modal-input: rgba(33, 33, 33, 0.2);
  $modal-focus: #188ce8;
  $modal-coment: rgba(117, 117, 117, 0.5);
  $hero-boxshadow: rgba(0, 0, 0, 0.15);
