.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-list {
    display: flex;
    gap: 50px;
    /* margin-right: auto; */
}

.header-items {
    display: flex;
    gap: 50px;
    margin-left: auto;

}

.header-logo {
    color: $accent-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;

}

.header-studio {
    color: $logo-color;
}

.header-item {
    position: relative;
}

.header-link {
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
    color: $accent-color;

}

.header-link:after {
    content: "";
    display: block;
    border-radius: 2px;
    background: $accent-color;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -34px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(1, .45, 0, 1.15);
}

.header-link:hover::after {
    opacity: 1;
    /* visibility: visible; */
}

.active {
    color: $accent-color;
}

.header-contact {
    color: $added-text;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:hover {
    color: $accent-color;

    .header-icons {
        fill: $accent-color;
    }

    .header-icon2 {
        fill: $accent-color;
    }
}

.header-container {
    display: flex;
    align-items: center;
}



.header-icons {
    width: 16px;
    height: 12px;
    fill: $added-text;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icons:hover {
    fill: $accent-color;
}

.header-nav {
    margin-left: 93px;
}


.header-icon2 {
    width: 10px;
    height: 16px;
    fill: $added-text;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.header-icon2:hover {
    fill: $accent-color;
}
